@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

:root {
	--bg-color: #151d2f;
	--main-color: #636b97;
	--secondary-color: #3f4365;
	--text-color: #ffffff;
	--text-color-off: #86889e;
	--btn-color: #eeaa74;
	--main-fontweight: 400;
	--secondary-fontweight: 600;
	--tertiary-fontweight: bold;
}

/*Usual reset*/
* {
	margin: 0;
}
a {
	text-decoration: none;
}
a:visited,
a:link {
	color: var(--text-color);
}
input {
	border: none;
}
input:focus {
	outline: none;
}
button {
	border: none;
}

/*general Styling*/
html,
body {
	position: relative;
	min-height: 100%;
	-webkit-overflow-scrolling: touch;
}
body {
	color: var(--text-color);
	background-color: var(--bg-color);
	font-weight: var(--main-fontweight);
	font-family: "Raleway", sans-serif;
}
header,
main,
section {
	width: 100%;
	padding-bottom: 10vh;
}
input {
	background-color: var(--main-color);
	color: var(--text-color);
}
a[data="special"] {
	color: var(--btn-color);
}
p,
a,
input,
label,
button {
	font-size: clamp(0.8rem, 2vw, 1rem);
}
.hidden {
	display: none;
}
.active {
	display: grid;
}
.large-btn,
.small-btn {
	font-weight: var(--tertiary-fontweight);
	inline-size: max-content;
	border-radius: 5px;
	background-color: var(--btn-color);
	color: var(--text-color);
}
.large-btn {
	padding: 1rem 1rem;
}
.small-btn {
	padding: 0.5rem 0.5rem;
}
/*Flex classes*/
.flex-d-r {
	display: flex;
	flex-direction: row;
}
.flex-d-c {
	display: flex;
	flex-direction: column;
}
.align-justify-center {
	align-items: center;
	justify-content: center;
}

/*Hovers*/
a:hover {
	color: var(--btn-color);
}
a[data="special"]:hover {
	color: var(--text-color);
}
button:hover {
	cursor: pointer;
}

/*Header*/
header {
	display: grid;
	grid-template-columns: 1fr 1fr 8fr;
	grid-template-rows: 1fr;
	align-items: center;
	gap: 14rem;
}
header * {
	inline-size: min-content;
}
#logo {
	width: 170px;
	height: 96px;
}
.navbar-container,
.anchor-container {
	gap: 3rem;
}
.anchor-container {
	justify-self: end;
	margin-right: 10rem;
	font-weight: var(--secondary-fontweight);
}
.anchor-container a,
.navbar-container a {
	inline-size: max-content;
}
/*Main*/
main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20vw;
}
.text-container {
	gap: 2rem;
	max-width: 500px;
}
.text-container p {
	color: var(--main-color);
}
/*credit-cards*/
.content-container {
	position: relative;
	width: 600px;
	padding-top: 20vh;
}
.credit-card-one,
.credit-card-two,
.credit-card-three,
.character,
.character-text {
	position: absolute;
	width: 343px;
	height: 218px;
	border-radius: 20px;
	top: 0;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-size: cover;
}
.credit-card-one {
	background-image: url(assets/Credit_card_one.jpg);
	z-index: 1;
	animation-name: card-one-animation;
}
.credit-card-two {
	background-image: url(assets/Credit_card_two.jpg);
	z-index: 2;
}
.credit-card-three {
	background-image: url(assets/Credit_card_three.jpg);
	z-index: 3;
	animation-name: card-three-animation;
}
.character {
	position: absolute;
	width: 172px;
	height: 140px;
	left: 100px;
	animation-name: character;
	animation-duration: 4s;
}
.character-text {
	position: absolute;
	width: 337px;
	height: 265px;
	left: -210px;
	top: -255px;
	animation-name: main-text;
	animation-delay: 4s;
	animation-duration: 1s;
	opacity: 0;
}

.replacement {
	display: none;
}

/*Form section*/
/*Sign-in form*/
#form-section {
	height: 80vh;
}
.sign-in-form-container {
	width: 730px;
	background-image: url(assets/form-background.png);
	filter: brightness(0.7);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid var(--main-color);
}
.sign-in-form-container,
.left-side-container {
	height: 556px;
	border-radius: 13px;
}
.left-side-container {
	width: 365.5px;
	background-color: var(--secondary-color);
}
.form-toggle,
.form-text {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	padding: 0.5rem 1rem;
}
.form-text {
	margin-left: 3.2rem;
	gap: 1rem;
}
a[data="focus"] {
	border-bottom: 1px solid var(--btn-color);
	cursor: pointer;
}
*[data="off"] {
	color: var(--text-color-off);
	cursor: pointer;
}
#sign-in {
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 0.3em 0;
}
#sign-in .btn {
	padding: 1rem 2rem;
}
.field {
	background-color: var(--main-color);
	padding: 10px;
}

.field input {
	color: var(--text-color);
	order: 1;
}

.field input::placeholder {
	color: var(--text-color-off);
}

.form-bottom {
	display: flex;
	gap: 1em;
}

/*Register form*/

#register {
	grid-auto-rows: 1fr;
	gap: 0.3em 0;
}
#register .btn {
	align-self: center;
}
::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

/*Footer*/
footer {
	position: fixed;
	padding: 10px;
	bottom: 0px;
	left: 0px;
	font-weight: var(--tertiary-fontweight);
}

/*Animations*/
@keyframes card-one-animation {
	0% {
		top: 0px;
		transform: rotate(0deg);
	}
	100% {
		top: -80px;
		transform: rotate(-16deg);
	}
}
@keyframes card-three-animation {
	0% {
		top: 0px;
		transform: rotate(0deg);
	}
	100% {
		top: 52px;
		transform: rotate(20deg);
	}
}
@keyframes character {
	0% {
		top: 0px;
		transform: rotate(0deg);
	}
	100% {
		left: 65px;
		top: -160px;
		transform: rotate(-16deg);
	}
}
@keyframes main-text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Media Queries*/
@media (max-width: 1200px) {
	header {
		gap: 0;
	}
	main {
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	.content-container {
		margin-left: 20vw;
	}
}

@media (max-width: 979px) {
	header {
		display: flex;
		justify-content: space-between;
	}
	.navbar-container {
		display: none;
	}
	.anchor-container {
		margin-right: 3rem;
	}
	.text-container {
		text-align: center;
	}
	.text-container .btn {
		align-self: center;
	}
	footer {
		position: absolute;
	}
	#moveable {
		animation: none;
	}
}

@media (max-width: 767px) {
	.anchor-container {
		margin-right: 2rem;
	}
	.sign-in-form-container {
		background: none;
		width: auto;
	}
	.content-container {
		max-width: 390px;
		margin-left: 0;
	}
	.card,
	.character,
	.character-text {
		display: none;
	}
	.replacement {
		display: flex;
	}
	.replacement img {
		scale: 0.6;
	}
}

@media (max-width: 480px) {
	.anchor-container {
		margin-right: none;
	}
	.text-container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.content-container {
		height: 400px;
		padding: 0;
		max-width: 390px;
	}
	.replacement {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 390px;
	}
	.replacement img {
		scale: 0.5;
	}
	main {
		padding-bottom: 0;
	}
}

/*Animation classes for forms*/
.left {
	animation-iteration-count: 1;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-name: formMoveRight;
}

.right {
	animation-iteration-count: 1;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-name: formMoveLeft;
}

@keyframes formMoveLeft {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(365.5px, 0px);
	}
}
@keyframes formMoveRight {
	0% {
		transform: translate(365.5px, 0px);
	}
	100% {
		transform: translate(0);
	}
}
