@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

:root {
	--bg-color: #151d2f;
	--main-color: #636b97;
	--secondary-color: #3f4365;
	--text-color: #ffffff;
	--text-color-off: #86889e;
	--btn-color: #eeaa74;
	--main-fontweight: 400;
	--secondary-fontweight: 600;
	--tertiary-fontweight: bold;
}

/*Usual reset*/
* {
	margin: 0;
}
a {
	text-decoration: none;
}
a:visited,
a:link {
	color: var(--text-color);
}
input {
	border: none;
}
input:focus {
	outline: none;
}
button {
	border: none;
}

/*general Styling*/
html,
body {
	position: relative;
	min-height: 100%;
	-webkit-overflow-scrolling: touch;
}
body {
	color: var(--text-color);
	background-color: var(--bg-color);
	font-weight: var(--main-fontweight);
	font-family: "Raleway", sans-serif;
}
header,
main,
section {
	width: 100%;
	padding-bottom: 10vh;
}
input {
	background-color: var(--main-color);
	color: var(--text-color);
}
a[data="special"] {
	color: var(--btn-color);
}
h1,
h2,
h3 {
	font-size: clamp(1.5rem 2rem 2rem);
}

/*Flex classes*/
.flex-d-r {
	display: flex;
	flex-direction: row;
}
.flex-d-c {
	display: flex;
	flex-direction: column;
}
.align-justify-center {
	align-items: center;
	justify-content: center;
}

/*Hovers*/
a:hover {
	color: var(--btn-color);
}
a[data="special"]:hover {
	color: var(--text-color);
}
button:hover {
	cursor: pointer;
}

/*Header*/
header {
	display: grid;
	grid-template-columns: 1fr 1fr 8fr;
	grid-template-rows: 1fr;
	align-items: center;
	gap: 14rem;
}
header * {
	inline-size: min-content;
}
#logo {
	width: 170px;
	height: 96px;
}
.navbar-container,
.anchor-container {
	gap: 3rem;
}
.anchor-container {
	justify-self: end;
	margin-right: 10rem;
	font-weight: var(--secondary-fontweight);
}
.anchor-container a,
.navbar-container a {
	inline-size: max-content;
}
/*Main*/
Main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.text-container {
	gap: 2rem;
	max-width: 400px;
}
.text-container p {
	color: var(--main-color);
}
.content-container {
	max-width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	font-weight: var(--tertiary-fontweight);
	inline-size: max-content;
	padding: 1rem 0.5rem;
	border-radius: 7px;
	background-color: var(--btn-color);
}
/*Form section*/
/*Sign-in form*/
#form-section {
	height: 80vh;
}
.sign-in-form-container {
	width: 731px;
	background-image: url(assets/mountain.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.sign-in-form-container,
.left-side-container {
	height: 556px;
	border-radius: 13px;
}
.left-side-container {
	width: 365.5px;
	background-color: var(--secondary-color);
}
.form-toggle,
.form-text {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	padding: 0.5rem 1rem;
}
.form-text {
	margin-left: 3.2rem;
	gap: 1rem;
}
a[data="focus"] {
	border-bottom: 1px solid var(--btn-color);
	cursor: pointer;
}
*[data="off"] {
	color: var(--text-color-off);
	cursor: pointer;
}
#sign-in {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 0.3em 0;
}
#sign-in .btn {
	padding: 1rem 2rem;
}
.field {
	background-color: var(--main-color);
	padding: 10px;
}

.field input {
	color: var(--text-color);
	order: 1;
}

.field input::placeholder {
	color: var(--text-color-off);
}

.form-bottom {
	display: flex;
	gap: 1em;
}

/*Register form*/

/*Footer*/
footer {
	position: fixed;
	padding: 10px;
	bottom: 0px;
	left: 0px;
}

/* Large desktop */
@media (max-width: 1200px) {
	header {
		gap: 0;
	}
	main {
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	.content-container img {
		scale: clamp(0.5 0.7 0.7);
	}
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
	header {
		display: flex;
		justify-content: space-between;
	}
	.navbar-container {
		display: none;
	}
	.hamburger-menu,
	.hamburger-menu:before,
	.hamburger-menu::after {
		display: inherit;
	}
	.anchor-container {
		margin-right: 3rem;
	}
	.text-container {
		text-align: center;
	}
	.text-container .btn {
		align-self: center;
	}
	.content-container img {
		scale: 0.6;
	}
	footer {
		position: absolute;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.anchor-container {
		margin-right: 2rem;
	}
	.sign-in-form-container {
		background: none;
		width: auto;
	}
	.content-container {
		max-width: 390px;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.anchor-container {
		margin-right: none;
	}
	.text-container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.content-container img {
		scale: 0.4;
	}
	.content-container {
		max-width: 390px;
	}
	main {
		padding-bottom: 0;
	}
}

p,
a,
input,
label,
button {
	font-size: clamp(0.8rem, 2vw, 1rem);
}

#sign-in {
	display: none;
}
#register {
	display: grid;
	grid-auto-rows: 1fr;
	gap: 0.3em 0;
}
#register .btn {
	align-self: center;
}
::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
